*{
	font-family: Calibri Light, Calibri, Cambria, Gisha, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	margin-top: 1%;
}

.main{ 
	/* padding:15px;  */
	/* box-shadow: -5px 5px 7px 5px lightgray;  */
} 

.ketemu-logo {
	/* background-image: url("/public/logo.png"); */
	text-align: center;
}

.main h1, h2, h3, h4 { 
	/* font-size: 40px;  */
	text-align: center; 
} 

.box {
	font-size: 0.85em;
}

input{ 
	width: 100%; 
	font-size: 20px; 
	padding: 12px 20px; 
	margin: 8px 0; 
	border: none; 
	border-bottom: 2px solid #767474; 
} 
input[type=submit] { 
	width: 100%; 
	background-color: #ffc0cbb6;
	border: none; 
	color: #865573; 
	padding: 16px 32px; 
	margin: 4px 2px; 
	border-radius: 10px; 
	font-size: 1.5em;
} 

input[type=submit]:hover {
	background-color: #ffc0cb86;
}

.new-input {
	margin: 0 auto 10px auto;
	padding: 10px auto auto 0;
	font-size: 1em;
	opacity: 70%;
}

.new-div {
	font-size: 1.2em;
}

.clock {
	font-size: 3em;
	text-align: center;
	margin: auto;
	margin-top: 8%;
	/* width: max-content; */
	/* border:  2px solid #767474;
	box-shadow: 5px 5px 7px 5px lightgray;  */
}

.form-notes {
	font-size: 11pt;
	padding: 5px 20px 0 0;
}